.App {
  text-align: center;
  background-color: #d7dcde;
  max-width: 800px;
  margin: 0 auto;
}

.App-logo {
  height: 100px;
  max-width: 140px;
  margin-top: 2px;
  display: block;
  margin: 2px auto;
  border-radius: 20px;
}
.App-header {
  min-height: 22vh;
  padding-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer {
  margin-top: 600px;
  padding-bottom: 40px;
}
h1 {
  font-size: 25px;
  padding-top: 8%;
  font-weight: 600;
  padding-left: 6%;
}
