.meinpage form {
  box-shadow: 0 20px;
}

.Button {
  width: 45%;
  float: right;
  margin: 20px 40px 20px 20px;
  max-width: 800px;
  height: 35px;

  background-color: transparent;
  text-align: left;
  text-indent: 5px;
  font-size: 12.6pt;
  border-radius: 5px 5px 5px 5px;
  border-color: #f4f7f8;
  -webkit-transition: 1s; /* Safari */
  transition: 1s;
  margin-bottom: 30px;
  -webkit-search-cancel-button: italic;
}

.Button::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.Button:hover {
  border-color: #d7dcde;
}
.Button:focus {
  box-shadow: 0 0pt 2pt 2pt #c4c4c4;
  outline-width: 0px;
}

h4 {
  text-align: left;
}
